<h1 class="text-center mt-5">Login</h1>

<form [formGroup]="form" (submit)="onSubmit()" class="w-25 mx-auto">
    <!-- Email -->
    <div class="form-input">
        <label
            >Your email or phone number
            <span class="text-danger">*</span></label
        >
        <input
            type="email"
            pInputText
            formControlName="email"
            placeholder="Enter Here"
            class="mt-2"
        />
        <div
            *ngIf="
                form.controls['email'].invalid &&
                (form.controls['email'].dirty || form.controls['email'].touched)
            "
            class="error"
        >
            <div>Please enter a valid email</div>
        </div>
    </div>

    <!-- password -->
    <div class="p-fluid password">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <label>Password <span class="text-danger">*</span> </label>
            <span class="forgot-password">Forgot Password?</span>
        </div>
        <p-password formControlName="password" [toggleMask]="true"></p-password>
        <div
            *ngIf="
                form.controls['password'].invalid &&
                (form.controls['password'].dirty ||
                    form.controls['password'].touched)
            "
            class="error"
        >
            Password is required
        </div>
    </div>

    <div class="remember-me d-flex align-items-center mt-3">
        <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
        <span class="ms-2">Remember me</span>
    </div>

    <!-- button -->
    <button
        pButton
        class="text-center w-100 submit-button mt-4"
        type="submit"
        [disabled]="form.invalid || isSubmitLoading"
    >
        <div
            class="d-flex py-1 justify-content-center align-items-center w-100"
        >
            <span>Log In</span>
        </div>
    </button>
    <p-progressBar
        mode="indeterminate"
        [style]="{ height: '4px' }"
        *ngIf="isSubmitLoading"
    ></p-progressBar>

    <button
        pButton
        pRipple
        type="button"
        label="Signup"
        [routerLink]="['/auth', 'signup']"
        class="p-button-outlined p-button-success w-100 mt-4"
    ></button>
</form>
