<div class="patient-detail" *ngIf="!loading && patient">
  <div class="container">
    <!-- Header -->
    <div class="detail-header">
      <h1 class="grow text-4xl">Patient - {{patient.name}}</h1>
      <button
        pButton
        type="button"
        label="Back to Patient Detail"
        icon="pi pi-arrow-left"
        class="back-button"
        (click)="goBack()">
      </button>
    </div>

    <!-- Summary Section -->
    <p-card class="summary-card" [style]="{ background: '#f5f9fa' }">
      <ng-template pTemplate="content">
        <div class="grid grid-cols-4 gap-4">
          <div class="w-24">
            <img [src]="patient.image" [alt]="patient.name" class="summary-image">
          </div>
          <div class="">
            <strong>Name:</strong> {{patient.name}}<br>
            <strong>Sex:</strong> {{patient.sex}}<br>
            <strong>DOB:</strong> {{patient.dob}}
          </div>
          <div class="">
            <strong>Blood Group:</strong> {{patient.bloodGroup}}<br>
            <strong>Last Check-in:</strong> {{patient.lastCheckin}}<br>
            <strong>Patient ID:</strong> {{patient.id}}
          </div>
          <div class="">
            <strong>Department:</strong> {{patient.department}}
          </div>
        </div>
      </ng-template>
    </p-card>

    <!-- Three Column Layout -->
    <div class="grid grid-cols-3 gap-8 pt-8">
      <!-- Left Column - Appointments & Prescriptions -->
      <div class="" *ngFor="let diagnosis of patient.aiDiagnosis">
        <p-card class="info-card p-4" [style]="{ background: '#f5f9fa' }">
          <ng-template pTemplate="header">
            <div class="flex flex-row items-center">
              <h3 class="pl-6 pr-6 text-2xl">{{diagnosisMap[diagnosis.AssessedDisease]}}</h3>
              <div class="w-12">
                <i class="pi pi-circle-fill text-red-500 text-3xl" *ngIf="diagnosis.DiseaseDetectionResultBoolean === 'Yes'"></i>
                <i class="pi pi-circle-fill text-green-500 text-3xl" *ngIf="diagnosis.DiseaseDetectionResultBoolean === 'No'"></i>
              </div>
            </div>
            <div class="text-muted pl-6">
              <span *ngIf="diagnosis.DiseaseDetectionResultBoolean === 'Yes'">POSITIVE</span>
              <span *ngIf="diagnosis.DiseaseDetectionResultBoolean === 'No'">NEGATIVE</span>
            </div>
        </ng-template>
          <ng-template pTemplate="content">
            {{diagnosis.SummaryOfRelevantData}}<br>
          </ng-template>
        </p-card>

      </div>
    </div>
  </div>
</div>

<div class="loading-spinner" *ngIf="loading">
  <p-progressSpinner [style]="{'width': '50px', 'height': '50px'}" />
</div>
<!-- <div class="error-message" *ngIf="errorMessage">
  <p-message severity="error" [text]="errorMessage"></p-message>
</div>
<div class="no-data" *ngIf="!loading && !patient">
  <p-message severity="info" text="No patient data available."></p-message>
</div> -->

