<!-- <input type="text" pInputText [(ngModel)]="value" />
<p-button label="Hello PRIMENG" (click)="onSubmit()" />
<p-toggleswitch [(ngModel)]="checked" />
<p-button (click)="onCheckedChange()" label="Update toggle" />
<p-button
    [outlined]="true"
    severity="warn"
    (click)="confirm1($event)"
    label="SHOW DIALOG"
/>
<p-confirmdialog />
<p-toast />

<div>{{ title }}</div>
<p-button (click)="updateTitle()" label="UPDATE TITLE" />
<div class="text-2xl text-gray-200"></div> -->
<router-outlet></router-outlet>
