.patient-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .patient-image {
    width: 30%;
    height: auto;
    border-radius: 50%;
  }
